.container {
  height: 100vh;
  width: 14rem;
  background-color: #bfc9d5;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding-top: 2rem;
}
.content {
  font-size: 1rem;
  font-weight: 510;
  font-family: "Montserrat", "san-serif";
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.content:hover {
  background-color: #d9d9d9;
  color: #35a5d2;
}
